.container {
  background-image: none;
}

.tour-title {
  color: blue;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.8rem;
}

.first-one {
  position: relative;
  height: 12rem;
  width: 18rem;
  text-decoration: none;
}

.first-contents {
  border-radius: 5%;
  height: 10rem;
  width: 18rem;
  border: 1px solid black;
  background-size: 100% 100%;
  background-image: url(./images.jpg);
}

.second-one {
  position: relative;
  height: 12rem;
  width: 18rem;
  text-decoration: none;
}

.second-contents {
  border-radius: 5%;
  height: 10rem;
  width: 18rem;
  border: 1px solid black;
  background-size: 100% 100%;
  background-image: url(./wp2069204.jpg);
}

.third-one {
  position: relative;
  height: 12rem;
  width: 18rem;
  text-decoration: none;
}

.third-contents {
  border-radius: 5%;
  height: 10rem;
  width: 18rem;
  border: 1px solid black;
  background-size: 100% 100%;
  background-image: url(./Help.jpg);
}

.fourth-one {
  position: relative;
  height: 12rem;
  width: 18rem;
  text-decoration: none;
}

.fourth-contents {
  background-image: url(./gps.jpg);
  border-radius: 5%;
  height: 10rem;
  width: 18rem;
  border: 1px solid black;
  background-size: 100% 100%;
}

.content {
  margin-left: 12%;
  padding: 10px 1px;
  height: 100vh;
}

.contents {
  margin-left: 14%;
  margin-top: 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 8rem;
}

@media (max-width: 1200px) {
  .contents {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* 
@media (max-width: 800px) {
  .contents {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media (max-width: 800px) {
  .contents {
    grid-template-columns: 1fr;
  }
}
